<%- include('partials/header') %>
  <body>
    <h1>Sup BRO</h1>
    <p>Welcome to SUP BRO</p>



    <%- include('partials/footer') %>
        <!-- Modal Structure -->
        <div id="age-verification" class="modal">
          <div class="modal-content ">
              <h5>AGE VERIFICATION</h5>
            <!-- <div class="row"> -->
              <h6>By clicking enter, I certify that I am over the age of 18.</h6>
            <!-- </div> -->
          </div>
          <div class="modal-footer">
            <a id="age-verification-enter" class="modal-close waves-effect waves-green btn-flat teal-text">Enter</a>
            <a href="javascript:document.location.href='/';" class="modal-close waves-effect waves-red btn-flat red-text">Exit</a>
          </div>
        </div>
<%- include('partials/scripts') %>